.submitBlock form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.submitBlock input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.submitBlock button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}