.submitBlock {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  button {
    background-color: #064413;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-left: 10px;
    cursor: pointer;
  }
}
