.filterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0px 20px 0px 0px;
  &__title {
    font-size: 20px;
    font-weight: 700;
  }
  &__item {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    button {
      background-color: #f4f2f1;
      color: rgb(0, 0, 0);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0px 0px 10px 0px;
      cursor: pointer;
    }
  }
}
